<h1>Edit Your Chirp</h1>

<%= form_tag("/chirps/#{@chirp.id}", method: :put) do %>
  <div class="form-group">
    <%= label_tag('content', 'Edit Chirp content:') %>
    <%= text_area_tag('content', @chirp.content, class: "form-control") %>
  </div>
  <%= submit_tag("Update Chirp!", class: "btn btn-success") %>
<% end %>