<h1>What's on your mind?</h1>

<%= form_tag("/chirps", method: :post) do %>
<!--   <label for="content">Enter Chirp Text:</label>
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="Create Chirp"> -->

  <%= label_tag('content', 'Enter Chirp content:') %>
  <br>
  <%= text_area_tag('content', nil, size: '40x10') %>
  <br>
  <%= submit_tag("Create Chirp!") %>
<% end %>