<h1>What's on your mind?</h1>

<%= form_tag("/chirps", method: :post) do %>
  <div class="form-group">
    <%= label_tag('content', 'Enter Chirp content:') %>
    <%= text_area_tag('content', nil, class: "form-control") %>
  </div>
  <%= submit_tag("Create Chirp!", class: "btn btn-success") %>
<% end %>